<div class="drawer drawer-right drawer-cart" id="cart-drawer-container" data-items="{{cart.item_count}}">
  <div class="drawer_overlay js-drawer-close"></div>
  <div class="lazy-drawer-cart">
    {%- render 'svg' type:'is-loading' -%}
  </div>
</div>