
<header>
      <div class="container">
        <div class="menu-content">
           <div class="menu-btn">
              <a href="#" class="menu-open">
                <div class="mobileMenu-toggleIconfull">
                  <span class="mobileMenu-toggleIcon"></span>
                  <span class="mobileMenu-toggleIcon"></span>
                  <span class="mobileMenu-toggleIcon"></span>
                </div>
                menu
              </a>
              <a href="#" class="menu-close">
                <div class="mobileMenu-toggleIconfull">
                  <span class="mobileMenu-toggleIcon"></span>
                  <span class="mobileMenu-toggleIcon"></span>
                  <span class="mobileMenu-toggleIcon"></span>
                </div>
                menu
              </a>
           </div>
        </div>
        <div class="logo-content">
          <a href="#"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/logos.png"></a>
        </div>

        <div class="contact-menu">
          <div class="items item--office">
            <a class="office-phone" href="#">
                <img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/call.png">
                1300 554 923
            </a>
            <p class="office-hours">Mon - Fri 8:30-5:00 Sat 9:00-1:00</p>
          </div>
          <div class="search-menu">
            <div class="desktop-search">
              <form>
                <input type="search" name="" placeholder="Search for a product">
                <button type="submit"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/search-desktop.png"></button>
              </form>
            </div>
          </div>
        </div>

        <div class="short-menu">
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li>
              <a href="#">About us 
                <img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/submenu.png">
              </a>
              <ul class="submenu-short">
                <li><a href="#">Warranty</a></li>
                <li><a href="#">Shipping & Returns</a></li>
                <li><a href="#">Zip - Own it now, pay later</a></li>
              </ul>
            </li>
          </ul>
        </div>

        


        <div class="cart-menu">
          <div class="mobile-search-menu header-search-wrapper">
          <span class="search-main">
            <img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/searc-mobile-main.png">
          </span>
          <div class="search-form-main">
            <form  class="search-form" >
              <label>
                <input type="search" class="search-field" placeholder="Search …" value="" name="s">
              </label>
              <input type="submit" class="search-submit" value="Search">
            </form>
          </div>
        </div>
        
          <div class="drive-menu">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/card-menu.png"></a>
          </div>

          <div class="items item--cart themevale_cart">
              <div class="navUser-action navUser-action-price">
                  <p class="navUser-item-price">My Cart: <span class="cart-total-grandTotal">$0.00</span></p>
              </div>
               <a class="navUser-action navUser-action-cart layout-2 cart-items" href="#">
                  <div class="navUser-icon navUser-item-cartIcon">
                      <img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/cart.png"><span class="countPill cart-quantity">0</span>
                  </div>
              </a>

              <div class="dropdown-cart" id="cart-preview-dropdown">
                <div class="previewCart">
                  <div class="previewCart-emptyBody">
                      Your cart is empty
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>


      <div class="main-menu-sec">
        <ul class="in-menu-item">
          <li class="first-submenu">
          
            <a href="#">Steel Bull bars</a>
            <span class="submenu-btn"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/submenu.png"></span>
            <div class="submenu-design-item">
              <ul class="top-heading">
                <li><a href="#" class="close-submenu"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/submenu.png"> Back</a></li>
                <li><a href="#">Steel Bull bars</a></li>
              </ul>
              <ul class="submenu-items">
                <li><a href="#">Gt Bull Bars </a></li>
                <li><a href="#">AFN</a></li>
                <li><a href="#">Rockarmor</a></li>
                <li><a href="#">Drivetech</a></li>
                <li><a href="#">IronMan</a></li>
                <li><a href="#">Offroad Animal</a></li>
                <li><a href="#">PIAK</a></li>
              </ul>
            </div>
          </li>

          <li class="second-submenu">
            <a href="#">Alloy Bullbars</a>
            <span class="submenu-btn"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/submenu.png"></span>
            
          </li>

          <li><a href="#">Rear Bar Spare Wheel Carriers</a></li>

          <li><a href="#">Rock Sliders & Side Steps</a></li>

          <li><a href="#">Towbar & Rear Steps</a></li>

          <li class="third-submenu">
            <a href="#">Combo Deals</a>
            <span class="submenu-btn"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/submenu.png"></span>
            
          </li>

          <li><a href="#">FATHERS DAY SALES </a></li>

          <li class="fourth-submenu">
            <a href="#">Roofracks</a>
            <span class="submenu-btn"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/submenu.png"></span>
           
          </li>

          <li class="fifth-submenu">
            <a href="#">Driving Lights</a>
            <span class="submenu-btn"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/submenu.png"></span>
          
          </li>

          <li class="sixth-submenu">
            <a href="#">Suspension</a>
            <span class="submenu-btn"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/submenu.png"></span>
           
          </li>

        </ul>


        <div class="btn-social-sec">
          <ul class="wish-list-com">
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/cart-icons.png"> Wish Lists</a></li>
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/location-icons.png"> Store Locator</a></li>
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/call.png"> Contact us: 1300 554 926</a></li>
          </ul>
          <ul class="social-sec-head">
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/fb.png"></a></li>
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/youtube.png"></a></li>
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0650/1829/8612/files/insta.png"></a></li>
          </ul>
        </div>
      </div>
    </header>
{% schema %}
  {
    "name": "Header Type old",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}



<script>
  
jQuery('.cart-items ').click(function () {
  jQuery('.themevale_cart').toggleClass('open-dropdown');
});


jQuery('.search-main ').click(function () {
  jQuery('.mobile-search-menu').toggleClass('open-dropdown');
});


jQuery('.menu-open ').click(function () {
  jQuery('body').addClass('open-main-menu');
});

jQuery('.menu-close').click(function () {
  jQuery('body').removeClass('open-main-menu');
});


jQuery('.submenu-btn').click(function () {
  jQuery('.in-menu-item li').addClass('open-main-menu');
});

jQuery('.close-submenu').click(function () {
  jQuery('.in-menu-item li').removeClass('open-main-menu');
});


  
</script>

